[
 ;; REPORT
 {:db/ident :report/resource
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}
 {:db/ident :report/scan
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 ;; SCAN
 {:db/ident :scan/scan
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}
 {:db/ident :scan/date
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one}
 {:db/ident :scan/results
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}

 ;; TRUTH
 {:db/ident :truth/resource
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}
 {:db/ident :truth/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/index true}
 {:db/ident :truth/type
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/index true}
 {:db/ident :truth/platform
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/index true}

 ;; RESULTS
 {:db/ident :result/result
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}
 {:db/ident :result/antivirus
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/index true}
 {:db/ident :result/label
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/index true}
 {:db/ident :result/cluster-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/index true}
 {:db/ident :result/cluster-type
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/index true}
 {:db/ident :result/cluster-platform
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/index true}

 ;; ANTIVIRUS
 {:db/ident :antivirus/antivirus
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}

 ;; LABEL
 {:db/ident :label/label
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}
 {:db/ident :label/words-pattern
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/index true}
 {:db/ident :label/fields-pattern
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/index true}
 {:db/ident :label/vendor-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/index true}
 {:db/ident :label/vendor-type
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/index true}
 {:db/ident :label/vendor-platform
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/index true}
 {:db/ident :label/words
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}

 ;; WORD
 {:db/ident :word/word
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}
 {:db/ident :word/field
  :db/doc "final field"
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/index true}
 {:db/ident :word/fields
  :db/doc "candidate fields"
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/many
  :db/noHistory true}]
