[
  ;; TYPE
  {:db/id "adware" :antivirus.word/word "adware" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "backdoor" :antivirus.word/word "backdoor" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "behavior" :antivirus.word/word "behavior" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "browsermodifier" :antivirus.word/word "browsermodifier" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "constructor" :antivirus.word/word "constructor" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "ddos" :antivirus.word/word "ddos" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "dialer" :antivirus.word/word "dialer" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "exploit" :antivirus.word/word "exploit" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "hacktool" :antivirus.word/word "hacktool" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "joke" :antivirus.word/word "joke" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "misleading" :antivirus.word/word "misleading" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "monitoringtool" :antivirus.word/word "monitoringtool" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "program" :antivirus.word/word "program" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "pws" :antivirus.word/word "pws" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "ransom" :antivirus.word/word "ransom" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "remoteaccess" :antivirus.word/word "remoteaccess" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "rogue" :antivirus.word/word "rogue" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "settingsmodifier" :antivirus.word/word "settingsmodifier" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "softwarebundler" :antivirus.word/word "softwarebundler" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "spammer" :antivirus.word/word "spammer" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "spoofer" :antivirus.word/word "spoofer" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "spyware" :antivirus.word/word "spyware" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "tool" :antivirus.word/word "tool" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "trojan" :antivirus.word/word "trojan" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "trojanclicker" :antivirus.word/word "trojanclicker" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "trojandownloader" :antivirus.word/word "trojandownloader" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "trojandropper" :antivirus.word/word "trojandropper" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "trojannotifier" :antivirus.word/word "trojannotifier" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "trojanproxy" :antivirus.word/word "trojanproxy" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "trojanspy" :antivirus.word/word "trojanspy" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "virtool" :antivirus.word/word "virtool" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "virus" :antivirus.word/word "virus" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  {:db/id "worm" :antivirus.word/word "worm" :antivirus.word/field :T :antivirus.word/candidate-fields #{:T}}
  ;; PLATFORM
  {:db/id "a97m" :antivirus.word/word "a97m" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "abap" :antivirus.word/word "abap" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "alisp" :antivirus.word/word "alisp" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "amipro" :antivirus.word/word "amipro" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "androidos" :antivirus.word/word "androidos" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "ansi" :antivirus.word/word "ansi" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "applescript" :antivirus.word/word "applescript" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "asp" :antivirus.word/word "asp" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "asx" :antivirus.word/word "asx" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "autoit" :antivirus.word/word "autoit" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "bas" :antivirus.word/word "bas" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "bat" :antivirus.word/word "bat" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "corelscript" :antivirus.word/word "corelscript" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "dos" :antivirus.word/word "dos" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "epoc" :antivirus.word/word "epoc" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "freebsd" :antivirus.word/word "freebsd" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "hc" :antivirus.word/word "hc" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "he" :antivirus.word/word "he" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "hta" :antivirus.word/word "hta" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "html" :antivirus.word/word "html" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "inf" :antivirus.word/word "inf" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "iphoneos" :antivirus.word/word "iphoneos" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "irc" :antivirus.word/word "irc" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "java" :antivirus.word/word "java" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "js" :antivirus.word/word "js" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "linux" :antivirus.word/word "linux" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "logo" :antivirus.word/word "logo" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "macos" :antivirus.word/word "macos" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "macos_x" :antivirus.word/word "macos_x" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "mime" :antivirus.word/word "mime" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "mpb" :antivirus.word/word "mpb" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "msh" :antivirus.word/word "msh" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "msil" :antivirus.word/word "msil" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "netware" :antivirus.word/word "netware" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "o97m" :antivirus.word/word "o97m" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "os2" :antivirus.word/word "os2" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "palm" :antivirus.word/word "palm" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "perl" :antivirus.word/word "perl" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "php" :antivirus.word/word "php" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "pp97m" :antivirus.word/word "pp97m" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "python" :antivirus.word/word "python" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "qt" :antivirus.word/word "qt" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "sap" :antivirus.word/word "sap" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "sb" :antivirus.word/word "sb" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "sh" :antivirus.word/word "sh" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "solaris" :antivirus.word/word "solaris" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "sunos" :antivirus.word/word "sunos" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "swf" :antivirus.word/word "swf" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "symbos" :antivirus.word/word "symbos" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "unix" :antivirus.word/word "unix" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "v5m" :antivirus.word/word "v5m" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "vba" :antivirus.word/word "vba" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "vbs" :antivirus.word/word "vbs" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "w1m" :antivirus.word/word "w1m" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "w2m" :antivirus.word/word "w2m" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "w97m" :antivirus.word/word "w97m" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "win16" :antivirus.word/word "win16" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "win2k" :antivirus.word/word "win2k" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "win32" :antivirus.word/word "win32" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "win64" :antivirus.word/word "win64" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "win95" :antivirus.word/word "win95" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "win98" :antivirus.word/word "win98" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "winbat" :antivirus.word/word "winbat" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "wince" :antivirus.word/word "wince" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "winhlp" :antivirus.word/word "winhlp" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "winnt" :antivirus.word/word "winnt" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "winreg" :antivirus.word/word "winreg" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "wm" :antivirus.word/word "wm" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "x97m" :antivirus.word/word "x97m" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "xf" :antivirus.word/word "xf" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "xm" :antivirus.word/word "xm" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "tsql" :antivirus.word/word "tsql" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  {:db/id "xml" :antivirus.word/word "xml" :antivirus.word/field :P :antivirus.word/candidate-fields #{:P}}
  ;; INFORMATION
  {:db/id "dam" :antivirus.word/word "dam" :antivirus.word/field :I :antivirus.word/candidate-fields #{:I}}
  {:db/id "dll" :antivirus.word/word "dll" :antivirus.word/field :I :antivirus.word/candidate-fields #{:I}}
  {:db/id "dr" :antivirus.word/word "dr" :antivirus.word/field :I :antivirus.word/candidate-fields #{:I}}
  {:db/id "gen" :antivirus.word/word "gen" :antivirus.word/field :I :antivirus.word/candidate-fields #{:I}}
  {:db/id "kit" :antivirus.word/word "kit" :antivirus.word/field :I :antivirus.word/candidate-fields #{:I}}
  {:db/id "ldr" :antivirus.word/word "ldr" :antivirus.word/field :I :antivirus.word/candidate-fields #{:I}}
  {:db/id "pak" :antivirus.word/word "pak" :antivirus.word/field :I :antivirus.word/candidate-fields #{:I}}
  {:db/id "plugin" :antivirus.word/word "plugin" :antivirus.word/field :I :antivirus.word/candidate-fields #{:I}}
  {:db/id "remnants" :antivirus.word/word "remnants" :antivirus.word/field :I :antivirus.word/candidate-fields #{:I}}
  {:db/id "bit" :antivirus.word/word "bit" :antivirus.word/field :I :antivirus.word/candidate-fields #{:I}}
  {:db/id "dha" :antivirus.word/word "dha" :antivirus.word/field :I :antivirus.word/candidate-fields #{:I}}
  {:db/id "pfn" :antivirus.word/word "pfn" :antivirus.word/field :I :antivirus.word/candidate-fields #{:I}}
  {:db/id "plock" :antivirus.word/word "plock" :antivirus.word/field :I :antivirus.word/candidate-fields #{:I}}
  {:db/id "rfn" :antivirus.word/word "rfn" :antivirus.word/field :I :antivirus.word/candidate-fields #{:I}}
  {:db/id "rootkit" :antivirus.word/word "rootkit" :antivirus.word/field :I :antivirus.word/candidate-fields #{:I}}
  {:db/id "m" :antivirus.word/word "m" :antivirus.word/field :I :antivirus.word/candidate-fields #{:I}}
  {:db/id "mm" :antivirus.word/word "mm" :antivirus.word/field :I :antivirus.word/candidate-fields #{:I}}
]
