[
  ;; TYPE
  {:db/id "adware" :word/word "adware" :word/field :T :word/fields #{:T}}
  {:db/id "backdoor" :word/word "backdoor" :word/field :T :word/fields #{:T}}
  {:db/id "behavior" :word/word "behavior" :word/field :T :word/fields #{:T}}
  {:db/id "browsermodifier" :word/word "browsermodifier" :word/field :T :word/fields #{:T}}
  {:db/id "constructor" :word/word "constructor" :word/field :T :word/fields #{:T}}
  {:db/id "ddos" :word/word "ddos" :word/field :T :word/fields #{:T}}
  {:db/id "dialer" :word/word "dialer" :word/field :T :word/fields #{:T}}
  {:db/id "exploit" :word/word "exploit" :word/field :T :word/fields #{:T}}
  {:db/id "hacktool" :word/word "hacktool" :word/field :T :word/fields #{:T}}
  {:db/id "joke" :word/word "joke" :word/field :T :word/fields #{:T}}
  {:db/id "misleading" :word/word "misleading" :word/field :T :word/fields #{:T}}
  {:db/id "monitoringtool" :word/word "monitoringtool" :word/field :T :word/fields #{:T}}
  {:db/id "program" :word/word "program" :word/field :T :word/fields #{:T}}
  {:db/id "pws" :word/word "pws" :word/field :T :word/fields #{:T}}
  {:db/id "ransom" :word/word "ransom" :word/field :T :word/fields #{:T}}
  {:db/id "remoteaccess" :word/word "remoteaccess" :word/field :T :word/fields #{:T}}
  {:db/id "rogue" :word/word "rogue" :word/field :T :word/fields #{:T}}
  {:db/id "settingsmodifier" :word/word "settingsmodifier" :word/field :T :word/fields #{:T}}
  {:db/id "softwarebundler" :word/word "softwarebundler" :word/field :T :word/fields #{:T}}
  {:db/id "spammer" :word/word "spammer" :word/field :T :word/fields #{:T}}
  {:db/id "spoofer" :word/word "spoofer" :word/field :T :word/fields #{:T}}
  {:db/id "spyware" :word/word "spyware" :word/field :T :word/fields #{:T}}
  {:db/id "tool" :word/word "tool" :word/field :T :word/fields #{:T}}
  {:db/id "trojan" :word/word "trojan" :word/field :T :word/fields #{:T}}
  {:db/id "trojanclicker" :word/word "trojanclicker" :word/field :T :word/fields #{:T}}
  {:db/id "trojandownloader" :word/word "trojandownloader" :word/field :T :word/fields #{:T}}
  {:db/id "trojandropper" :word/word "trojandropper" :word/field :T :word/fields #{:T}}
  {:db/id "trojannotifier" :word/word "trojannotifier" :word/field :T :word/fields #{:T}}
  {:db/id "trojanproxy" :word/word "trojanproxy" :word/field :T :word/fields #{:T}}
  {:db/id "trojanspy" :word/word "trojanspy" :word/field :T :word/fields #{:T}}
  {:db/id "virtool" :word/word "virtool" :word/field :T :word/fields #{:T}}
  {:db/id "virus" :word/word "virus" :word/field :T :word/fields #{:T}}
  {:db/id "worm" :word/word "worm" :word/field :T :word/fields #{:T}}
  ;; PLATFORM
  {:db/id "a97m" :word/word "a97m" :word/field :P :word/fields #{:P}}
  {:db/id "abap" :word/word "abap" :word/field :P :word/fields #{:P}}
  {:db/id "alisp" :word/word "alisp" :word/field :P :word/fields #{:P}}
  {:db/id "amipro" :word/word "amipro" :word/field :P :word/fields #{:P}}
  {:db/id "androidos" :word/word "androidos" :word/field :P :word/fields #{:P}}
  {:db/id "ansi" :word/word "ansi" :word/field :P :word/fields #{:P}}
  {:db/id "applescript" :word/word "applescript" :word/field :P :word/fields #{:P}}
  {:db/id "asp" :word/word "asp" :word/field :P :word/fields #{:P}}
  {:db/id "asx" :word/word "asx" :word/field :P :word/fields #{:P}}
  {:db/id "autoit" :word/word "autoit" :word/field :P :word/fields #{:P}}
  {:db/id "bas" :word/word "bas" :word/field :P :word/fields #{:P}}
  {:db/id "bat" :word/word "bat" :word/field :P :word/fields #{:P}}
  {:db/id "corelscript" :word/word "corelscript" :word/field :P :word/fields #{:P}}
  {:db/id "dos" :word/word "dos" :word/field :P :word/fields #{:P}}
  {:db/id "epoc" :word/word "epoc" :word/field :P :word/fields #{:P}}
  {:db/id "freebsd" :word/word "freebsd" :word/field :P :word/fields #{:P}}
  {:db/id "hc" :word/word "hc" :word/field :P :word/fields #{:P}}
  {:db/id "he" :word/word "he" :word/field :P :word/fields #{:P}}
  {:db/id "hta" :word/word "hta" :word/field :P :word/fields #{:P}}
  {:db/id "html" :word/word "html" :word/field :P :word/fields #{:P}}
  {:db/id "inf" :word/word "inf" :word/field :P :word/fields #{:P}}
  {:db/id "iphoneos" :word/word "iphoneos" :word/field :P :word/fields #{:P}}
  {:db/id "irc" :word/word "irc" :word/field :P :word/fields #{:P}}
  {:db/id "java" :word/word "java" :word/field :P :word/fields #{:P}}
  {:db/id "js" :word/word "js" :word/field :P :word/fields #{:P}}
  {:db/id "linux" :word/word "linux" :word/field :P :word/fields #{:P}}
  {:db/id "logo" :word/word "logo" :word/field :P :word/fields #{:P}}
  {:db/id "macos" :word/word "macos" :word/field :P :word/fields #{:P}}
  {:db/id "macos_x" :word/word "macos_x" :word/field :P :word/fields #{:P}}
  {:db/id "mime" :word/word "mime" :word/field :P :word/fields #{:P}}
  {:db/id "mpb" :word/word "mpb" :word/field :P :word/fields #{:P}}
  {:db/id "msh" :word/word "msh" :word/field :P :word/fields #{:P}}
  {:db/id "msil" :word/word "msil" :word/field :P :word/fields #{:P}}
  {:db/id "netware" :word/word "netware" :word/field :P :word/fields #{:P}}
  {:db/id "o97m" :word/word "o97m" :word/field :P :word/fields #{:P}}
  {:db/id "os2" :word/word "os2" :word/field :P :word/fields #{:P}}
  {:db/id "palm" :word/word "palm" :word/field :P :word/fields #{:P}}
  {:db/id "perl" :word/word "perl" :word/field :P :word/fields #{:P}}
  {:db/id "php" :word/word "php" :word/field :P :word/fields #{:P}}
  {:db/id "pp97m" :word/word "pp97m" :word/field :P :word/fields #{:P}}
  {:db/id "python" :word/word "python" :word/field :P :word/fields #{:P}}
  {:db/id "qt" :word/word "qt" :word/field :P :word/fields #{:P}}
  {:db/id "sap" :word/word "sap" :word/field :P :word/fields #{:P}}
  {:db/id "sb" :word/word "sb" :word/field :P :word/fields #{:P}}
  {:db/id "sh" :word/word "sh" :word/field :P :word/fields #{:P}}
  {:db/id "solaris" :word/word "solaris" :word/field :P :word/fields #{:P}}
  {:db/id "sunos" :word/word "sunos" :word/field :P :word/fields #{:P}}
  {:db/id "swf" :word/word "swf" :word/field :P :word/fields #{:P}}
  {:db/id "symbos" :word/word "symbos" :word/field :P :word/fields #{:P}}
  {:db/id "unix" :word/word "unix" :word/field :P :word/fields #{:P}}
  {:db/id "v5m" :word/word "v5m" :word/field :P :word/fields #{:P}}
  {:db/id "vba" :word/word "vba" :word/field :P :word/fields #{:P}}
  {:db/id "vbs" :word/word "vbs" :word/field :P :word/fields #{:P}}
  {:db/id "w1m" :word/word "w1m" :word/field :P :word/fields #{:P}}
  {:db/id "w2m" :word/word "w2m" :word/field :P :word/fields #{:P}}
  {:db/id "w97m" :word/word "w97m" :word/field :P :word/fields #{:P}}
  {:db/id "win16" :word/word "win16" :word/field :P :word/fields #{:P}}
  {:db/id "win2k" :word/word "win2k" :word/field :P :word/fields #{:P}}
  {:db/id "win32" :word/word "win32" :word/field :P :word/fields #{:P}}
  {:db/id "win64" :word/word "win64" :word/field :P :word/fields #{:P}}
  {:db/id "win95" :word/word "win95" :word/field :P :word/fields #{:P}}
  {:db/id "win98" :word/word "win98" :word/field :P :word/fields #{:P}}
  {:db/id "winbat" :word/word "winbat" :word/field :P :word/fields #{:P}}
  {:db/id "wince" :word/word "wince" :word/field :P :word/fields #{:P}}
  {:db/id "winhlp" :word/word "winhlp" :word/field :P :word/fields #{:P}}
  {:db/id "winnt" :word/word "winnt" :word/field :P :word/fields #{:P}}
  {:db/id "winreg" :word/word "winreg" :word/field :P :word/fields #{:P}}
  {:db/id "wm" :word/word "wm" :word/field :P :word/fields #{:P}}
  {:db/id "x97m" :word/word "x97m" :word/field :P :word/fields #{:P}}
  {:db/id "xf" :word/word "xf" :word/field :P :word/fields #{:P}}
  {:db/id "xm" :word/word "xm" :word/field :P :word/fields #{:P}}
  {:db/id "tsql" :word/word "tsql" :word/field :P :word/fields #{:P}}
  {:db/id "xml" :word/word "xml" :word/field :P :word/fields #{:P}}
  ;; INFORMATION
  {:db/id "dam" :word/word "dam" :word/field :I :word/fields #{:I}}
  {:db/id "dll" :word/word "dll" :word/field :I :word/fields #{:I}}
  {:db/id "dr" :word/word "dr" :word/field :I :word/fields #{:I}}
  {:db/id "gen" :word/word "gen" :word/field :I :word/fields #{:I}}
  {:db/id "kit" :word/word "kit" :word/field :I :word/fields #{:I}}
  {:db/id "ldr" :word/word "ldr" :word/field :I :word/fields #{:I}}
  {:db/id "pak" :word/word "pak" :word/field :I :word/fields #{:I}}
  {:db/id "plugin" :word/word "plugin" :word/field :I :word/fields #{:I}}
  {:db/id "remnants" :word/word "remnants" :word/field :I :word/fields #{:I}}
  {:db/id "bit" :word/word "bit" :word/field :I :word/fields #{:I}}
  {:db/id "dha" :word/word "dha" :word/field :I :word/fields #{:I}}
  {:db/id "pfn" :word/word "pfn" :word/field :I :word/fields #{:I}}
  {:db/id "plock" :word/word "plock" :word/field :I :word/fields #{:I}}
  {:db/id "rfn" :word/word "rfn" :word/field :I :word/fields #{:I}}
  {:db/id "rootkit" :word/word "rootkit" :word/field :I :word/fields #{:I}}
  {:db/id "m" :word/word "m" :word/field :I :word/fields #{:I}}
  {:db/id "mm" :word/word "mm" :word/field :I :word/fields #{:I}}
]
